.app {
  display: flex;
  justify-content: flex-start;
  align-items: start;

  &-header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  &-side {
    width: 300px;
    box-sizing: border-box;
    padding-top: 100px;
  }
  &-main {
    width: 1366px;
    box-sizing: border-box;
    padding-top: 100px;
    border-left: solid 1px $brack;
  }
}
