nav {
  width: 1600px;
  display: inline-block;

  .nav_list {
    font-size: 0;
    display: inline-block;
    &_item {
      display: inline-block;
      color: $white;
      font-size: 15px;

      span {
        font-size: 12px;
        color: $gray;
      }

      &:not(:last-child) {
        margin-right: 20px;
        &::after {
          display: inline-block;
          content: "";
          width: 1px;
          height: 20px;
          background-color: $gray;
          vertical-align: middle;
          margin-left: 10px;
        }
      }

      &_links {
        display: inline-block;
        font-size: 0;

        &_item {
          display: inline-block;
          font-size: 15px;

          &:not(:last-child) {
            margin-right: 10px;

            &::after {
              display: inline-block;
              content: "";
              width: 1px;
              height: 20px;
              background-color: $gray;
              vertical-align: middle;
              margin-left: 10px;
            }
          }


          a {
            color: $white;
            vertical-align: middle;

            span {
              color: $white;
              font-size: 11px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
