.sidebar_list {
  font-size: 18px;
  padding-left: 15px;

  .sidebar_item {
    margin-bottom: 20px;

    .sidebar_chaild_list {
      font-size: 16px;
      padding-left: 10px;
      line-height: 20px;

      .sidebar_chaild_item {
        display: block;
        margin-top: 10px;

        .sidebar_child_list {
          font-size: 14px;
          padding-left: 20px;
          line-height: 25px;

          .sidebar_child_item {
            display: block;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
.admin-sidebar_list {
  font-size: 18px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $gray;

  .admin-sidebar_item {
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0;
    }

    .admin-sidebar_chaild_list {
      font-size: 16px;
      padding-left: 10px;

      .admin-sidebar_chaild_item {
        display: block;
        margin-top: 10px;

        .admin-sidebar_child_list {
          font-size: 14px;
          padding-left: 20px;

          .admin-sidebar_child_item {
            display: block;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
