$gray: #D8D6D5;
$brack: #000;
$white: #fff;
$orange:  #FFC408;
$orange-btn: #ffcd69;
$red: #cc0044;
$blue: #00cccc;
$pink: #ff69b4;
$green: #69ff9b;
$table-th: #4d4d4d;
$table-td-bg: #cccccc;
$headding-bg: #6f6f6f;
