#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100% !important;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 10000;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}
