extends _layout

include _tool_btn

block vars
  - var title = "CASTSHIFT";
  
block main
  form 
    .section_wrapper
      .contents
        .shift_guide
          .table_text
            p.main シフト申請一覧
            a(href="#").link >>シフト直接入力
            p.sub 最大10件表示：全ての項目を処理してください。
          ul.shift_guide_box
            for item, index in resources.castshift
              li
                p= index+1
                p.shift_guide_title= item.title
                p.shift_guide_link(class=item.class)
                  a(href="#")= item.text
    .section_wrapper
      .contents
        .shift_approval
          h2.shift_approval_headding  シフト承認
          .approval_cast
            .top
              .name
                p.sub キャスト名
                p.main ％％源氏名％％
              .rank
                p.sub キャストランク
                p.main ％％キャストランク％％
              .days
                p.sub 入店日
                p.main 2018/05/04
            .middle
              .desc 
                p.sub キャストの備考
                  span ※今後、シフト申請を受け付けたくない場合は、プロフィール管理画面よりシフト申請のステータスをオフにしてください。
                p.main ％％備考コメント％％ 
            .bottom
              .now
                .sub
                  p.text 現在のシフト申請表示内容（未処理・保留）
                  .now_form
                    p.now_form_text 表示内容の変更（
                    input(type='checkbox', name='', value='')
                    | 全部　｜
                    input(type='checkbox', name='', value='')
                    | 未処理　｜
                    input(type='checkbox', name='', value='')
                    | 保留　｜
                    input(type='checkbox', name='', value='')
                    | 承認済　｜
                    input(type='checkbox', name='', value='')
                    | 非表示）
                p.main 複数または一括処理は、それぞれの項目の確認（タイムラインの追加項目がある場合はそれぞれに追加）してから実行してください。尚、シフト処理を行ったユーザー名は管理ログに登録されます。
    .section_wrapper
      .contents
        .shift_list_box
          ul.shift_list
            for item in resources.shiftList
              li.shift_item
                p.item_title= item.title
                .item_box
                  input(type='checkbox', name='', value='')
                  .middle_contents
                    p.days= item.days
                    p.desc 備考： 
                      span #{item.desc}
                    a(href=item.link).link= item.linktext
                    .form_box
                      .time
                        label= item.time 
                        input(type="text" name="")
                        | 時から
                        input(type="text" name="")
                        | 分間
                      .comment
                        label 項目名：
                        select(name="")
                          option(value=item.op1)= item.op1
                          option(value=item.op2)= item.op2
                          option(value=item.op3)= item.op3
                        label コメント：
                        input(type="text" name="")
                        button(type="submit") 追加
                      p.support_text ※コメントなしでも追加できます。
                      .text_box
                        p.bule ※追加が完了しました。複数追加する場合再度入力、追加内容を削除する場合は削除を押してください。
                        p.gray 追加内容①（削除する）：2018-08-14 12:00 ~ 60分　撮影　％％備考コメントの内容％％
                        p.gray 追加内容②（削除する）：2018-08-14 12:00 ~ 20分　送り　％％備考コメントの内容％％
                  .right_contents
                    .mail_btn
                      p.text 確認項目があるためキャストに連絡する。
                      a(href="#")
                        p.btn_text ％％源氏名％％にメールの送信
                    .approval_btn
                      p.text 現在の設定：HP、タイムライン、設定ポータル反映、出勤アラート通知
                      a(href="#")
                        p.btn_text シフト承認（個別）
                          span タイムライン・HPへ反映
                    a(href="#").hidden_btn ＞＞このシフトを非表示 
                  p.status_box(class=item.class)= item.status
    .section_wrapper
      .contents
        .btn_links
          label
            input(type="checkbox" name="")
            | 選択したシフト内容の一括処理
          .btns
            .left_button
              p.text キャストに連絡して全シフトを保留にする
              a(href="#")
                p.btn_text ％％源氏名％％にメール送信
            .right_button
              a(href="#")
                p.btn_text シフト承認（一括）
                  span 選択したシフトのタイムライン・HPへの反映
              p.main ※確認項目にチェックを入れて送信してください。
              p.sub ※出勤登録が完了しました。間違いがないかタイムライン・HPの確認をお願いいたします。
                  
