extends _layout

include _tool_btn

block vars
  - var title = "CASTRETRIEVAL";
  
block main
  form 
    .section_wrapper
      .contents
        .cast_retrieval
          h2.shift_approval_headding プロフィール編集・宣材写真
          .cast_retrieval_work
            .top_area
              p.title 在籍キャスト一覧
              a(href="#").right
                p.button_text 現在、アネモネ渋谷店には、●●●名のキャストが在籍登録されています。
            .cast_retrieval_box
              .text 在籍キャストの表示順を変更するには、キャスト写真をクリックしたまま表示したい場所へドラッグしてください。
              ul.cast_retrieval_list
                for item in resources.castretrieval
                  li.cast_retrieval_item
                    p.name #{item.name}
                    img(src=item.img)
                    a(href="#").link プロフィール編集
