extends _layout

include _tool_btn

block vars
  - var title = "CASTSHIFTMANAGMENT";
  
block main
  form 
    .section_wrapper
      .contents
        .shift_guide
          .table_text
            p.main シフト申請一覧
            a(href="shift-direct-page.html").link >>シフト直接入力
            p.sub 最大10件表示：全ての項目を処理してください。
          ul.shift_guide_box
            for item, index in resources.castshift
              li
                p= index+1
                p.shift_guide_title= item.title
                p.shift_guide_link(class=item.class)
                  a(href="#")= item.text
    .section_wrapper
      .contents
        .shift_management
          h2.shift_approval_headding 選択されたシフト承認を編集
          .castname_box
            .cast_name
              p.title キャスト名
              p.text ％％「源氏名」％％ 
            .cast_lank
              p.title キャストランク
              p.text ％％「キャストランク」％％
            .cast_time
              p.title 入店日
              p.text 2018-05-04
          p.desc_text ※キャストのプロフィールが複数登録されていて有効化されている場合（同店舗内・他店舗含む）、シフトも連動されるため同時にアップされます。
            br
            | シフト申請を許可しない場合は、キャストマイページ設定を変更してください。
    .section_wrapper
      .contents
        .shift_processing
          h2.shift_approval_headding シフト申請処理
          ul.shift_management_box
            for item in resources.shiftmanagement
              li.shift_management_item
                h3.item_title 
                  label
                    input(type="checkbox" name="")
                    | #{item.title}
                .item_time 
                  p.text #{item.time}
                  a(href="#").item_sub_btn
                    p.btn_text このシフトを承認する
                p.item_desc 備考：#{item.desc}
                a(href="#").item_main_btn
                  p.btn_text シフト保留・拒否・備考追加・タイムライン・HP表記等・詳細はこちら
                .item_btn_wrap
                  a(href="shift-reject.html").left
                    p.btn_text ＞＞このシフトを拒否
                  a(href="shift-hold.html").middle
                    p.btn_text ＞＞キャストに確認（保留操作）
                  a(href="homepage-edit.html").right
                    p.btn_text ＞＞タイムラインに備考・追加事項・編集
                p.item_status(class=item.color) #{item.status}
