extends _layout

include _tool_btn

block vars
  - var title = "WAITCAST";
  
block main
  form 
    .section_wrapper
      .contents
        .wait_cast
          h2.shift_approval_headding ％％女性の名前%%の詳細
          .cast_registration
            .registation_timebox
              p.title 面接日
              label
                input(type="text" name="").years
                | 年
              label
                input(type="text" name="")
                | 月
              label
                input(type="text" name="")
                | 日
            .registation_checkbox
              .text_area
                p.left 店舗在庫登録
                p.right 色が変わっている所が現在このキャストが在籍している店舗です
              ul.check_list
                for item in resources.databasecheckboxlist
                  li.check_item(class=item.class)
                    if item.class
                      label
                        if item.check
                          input(type="checkbox" name="" checked)
                          | #{item.text}
                        else
                          input(type="checkbox" name="")
                          | #{item.text}
                      a(href="#") 　>>プロフィールの確認・編集
                    else
                      label
                        if item.check
                          input(type="checkbox" name="" checked)
                          | #{item.text}
                        else
                          input(type="checkbox" name="")
                          | #{item.text}
            .registatioin_textbox
              ul.textbox_list.top
                li.textbox_item
                  label.item_title 本名
                  input(type="text" name="").main
                li.textbox_item
                  label.item_title 本名（ふりがな）
                  input(type="text" name="").main
                li.textbox_item
                  label.item_title メールアドレス
                  input(type="email" name="").main
                li.textbox_item
                  label.item_title 電話番号
                  input(type="tel" name="").main
                li.textbox_item
                  label.item_title 住所
                  input(type="text" name="").main
                li.textbox_item
                  label.item_title 年齢 / スリーサイズ
                  input(type="text" name="").sub.none
                  | 歳
                  label.item_subtitle 身長
                  input(type="text" name="").sub
                  | CM
                  label.item_subtitle B.
                  input(tyep="text" name="").sub
                  input(tyep="text" name="").sub
                  | カップ
                  label.item_subtitle W.
                  input(tyep="text" name="").sub
                  label.item_subtitle H.
                  input(tyep="text" name="").sub
                li.textbox_item
                  label.item_title 年齢確認書類
                  input(type="file" name="").file
                li.textbox_item
                  label.item_title 年齢確認書類(2)
                  input(type="file" name="").file
                li.textbox_item
                  label.item_title 本人の写真
                  input(type="file" name="").file
                li.textbox_item
                  label.item_title 求人募集コード
                  select(name="")
                    option(value="▼選択してください。") ▼選択してください。
                    option(value="項目1") 項目1
                    option(value="項目2") 項目2
                    option(value="項目3") 項目3
              p.list_title 面接官の評価
                ul.textbox_list.bottom
                  li.textbox_item
                    label.item_title キャスト評価
                    input(type="checkbox" name="").check
                    span S
                    input(type="checkbox" name="").check
                    span A
                    input(type="checkbox" name="").check
                    span B
                    input(type="checkbox" name="").check
                    span 未設定（デフォルト）
                  li.textbox_item
                    label.item_title キャスト評価詳細
                    input(type="text" name="").long
            button(type="submit").edit_database_btn データベースの編集
    
