extends _layout

include _tool_btn

block vars
  - var title = "MAILPAGE-CONTACT-BOOK";
  
block main
  form 
    .section_wrapper
      .contents
        .mail_page
          .mail_sidebar
            img(src="").logo
            a(href="#").create_mail
              p.btn_text メッセージ作成
            .mail_tray
              a(href="#").receive_tray
                p.btn_text 📩 受信トレイ
              a(href="#").send_tray
                p.btn_text ➡︎ 送信トレイ
              a(href="#").draft_tray
                p.btn_text 📝 下書き
              a(href="#").important_tray
                p.btn_text ☆ 重要
            .days_all_send
              h2.title 出勤確認一括送信
              a(href="mail-all-send.html").today
                p.btn_text 本日（2018-10-18）
              a(href="mail-all-send.html").tomorrow
                p.btn_text 明日（2018-10-19）
            .store_mail
              h2.title 店舗別の受信メール
              a(href="#").shibuya
                p.btn_text アネモネ渋谷店
              a(href="#").shinjuku
                p.btn_text アネモネ新宿店
              a(href="#").esute
                p.btn_text 宝石（エステ）
            .contact_info
              h2.title 連絡帳検索
              a(href="mail-contact-book.html").info_btn
                p.btn_text 🔍 登録連絡先
            .template
              h2.title メールテンプレート管理
              a(href="mail-template.html").template_btn
                p.btn_text テンプレートを編集
          .mail_contents
            .mail_management
              .management_tray
                input(type="text" name="" placeholder="🔍メール検索")
                a(href="#").first
                  p.btn_text 管理
                a(href="#").second
                  p.btn_text TL
                a(href="#").third
                  p.btn_text ドキュ
                a(href="#").four
                  p.btn_text ◆未読メールあり
              p.title 連絡帳編集
              .contact_book_edit
                .edit_area
                  .photo_area
                    img(src="images/free.jpeg").photo_img
                    a(href="#").photo_button プロフィール編集
                  .input_area
                    .name
                      p.input_title メール表示名
                      input(type="text" name="")
                    .store
                      p.input_title メイン店舗
                      select(name="")
                        option(value="アネモネ渋谷店") アネモネ渋谷店
                        option(value="アネモネ新宿店") アネモネ新宿店
                        option(value="アネモネ品川店") アネモネ品川店
                    .mail
                      p.input_title アドレス
                      input(type="email" name="")
                      a(href="#").add_btn メール追加
                    .tel_number
                      p.input_title 電話番号
                      input(type="tel" name="")
                      a(href="#").add_btn 電話番号追加
                    .address
                      p.input_title 住所
                      input(type="text" name="")
                      a(href="#").add_btn 住所を追加
                .memo_area
                  p.memo_title メモ
                  textarea
                .cast_infomation_area
                  p.cast_info_title 本名
                  p.cast_info_name 芦沢　夢之（あしざわゆめの）
                  a(href="#").cast_info_btn  ＞＞面接データベースより詳細を確認
