extends _layout

include _tool_btn

block vars
  - var title = "MAILPAGE";
  
block main
  form 
    .section_wrapper
      .contents
        .mail_page
          .mail_sidebar
            img(src="").logo
            a(href="#").create_mail
              p.btn_text メッセージ作成
            .mail_tray
              a(href="#").receive_tray
                p.btn_text 📩 受信トレイ
              a(href="#").send_tray
                p.btn_text ➡︎ 送信トレイ
              a(href="#").draft_tray
                p.btn_text 📝 下書き
              a(href="#").important_tray
                p.btn_text ☆ 重要
            .days_all_send
              h2.title 出勤確認一括送信
              a(href="mail-all-send.html").today
                p.btn_text 本日（2018-10-18）
              a(href="mail-all-send.html").tomorrow
                p.btn_text 明日（2018-10-19）
            .store_mail
              h2.title 店舗別の受信メール
              a(href="#").shibuya
                p.btn_text アネモネ渋谷店
              a(href="#").shinjuku
                p.btn_text アネモネ新宿店
              a(href="#").esute
                p.btn_text 宝石（エステ）
            .contact_info
              h2.title 連絡帳検索
              a(href="mail-contact-book.html").info_btn
                p.btn_text 🔍 登録連絡先
            .template
              h2.title メールテンプレート管理
              a(href="mail-template.html").template_btn
                p.btn_text テンプレートを編集
          .mail_contents
            .mail_management
              .management_tray
                input(type="text" name="" placeholder="🔍メール検索")
                a(href="#").first
                  p.btn_text 管理
                a(href="#").second
                  p.btn_text TL
                a(href="#").third
                  p.btn_text ドキュ
                a(href="#").four
                  p.btn_text ◆未読メールあり
              .reload_tray
                .left_box
                  .checkbox
                    input(type="checkbox" name="")
                  a(href="#").left
                    p.btn_text 更新
                  a(href="#").right
                    p.btn_text その他
                .right_box
                  p.pages 1-100/32215行
                  a(href="#").middle_left
                    p.btn_text ＜
                  a(href="#").middle_right
                    p.btn_text ＞
                  a(href="#").right
                    p.btn_text 設定
              ul.mail_tray
                for item in resources.mailitemlist
                  li.mail_item(class=item.color)
                    .check
                      input(type="checkbox" name="")
                    .label
                      if item.class == "is_current"
                        img(src="images/is_current.png")
                      else
                        img(src="images/not_current.png")
                    p.name #{item.name}
                    p.subject #{item.subject}
                    p.time #{item.time}
