extends _layout

include _tool_btn

block vars
  - var title = "NEWS";
  
block main
  form 
    .section_wrapper
      .contents
        section.contents_inner
          h2.table_headding 
            span.table_headding_main テンプレート呼び出し
            a(href="#").table_headding_link ＞＞テンプレートを編集する
          table.table_box
            for item, index in resources.template
              tr
                th= index+1
                td.table_box_title= item.title
                td.table_box_link 
                  a(href="#") 使用する
        section.contents_inner
          h2.table_headding 
            span.table_headding_main 投稿したニュース
              span.table_headding_sub (新着順5件表示)
            a(href="#").table_headding_link ＞＞一覧を見る
          table.table_box
            for item, index in resources.postNews
              tr
                th= index+1
                td.table_box_title= item.title
                td.table_box_link
                  a(href="#") 編集・削除
    .section_wrapper
      .contents
        section.news_post
          h2.news-page_headding ニュース新規投稿
          .news_post_box
            .news_post_box_title
              label.news_post_box_title_text タイトル入力(40文字まで)
              input.news_post_box_title_box(type='text', name='', value='')
            .news_post_box_content
              label.news_post_box_content_text ニュース本文
              textarea.news_post_box_content_box
        section.news_post_setting
          h2.news-page_headding ニュース投稿設定
          .news_post_setting_box
            .news_post_setting_box_date
              label.news_post_setting_box_date_default すぐに投稿する(デフォルト)
              label.news_post_setting_box_date_check
                input(type='checkbox', name='', value='')
                | 予約投稿する 
              input.news_post_setting_box_date_box-year.box(type='text', name='', value='') 
              | 年
              input.news_post_setting_box_date_box-month.box(type='text', name='', value='') 
              | 月
              input.news_post_setting_box_date_box-day.box(type='text', name='', value='') 
              | 日
              input.news_post_setting_box_date_box-hour.box(type='text', name='', value='') 
              | 時
              input.news_post_setting_box_date_box-minute.box(type='text', name='', value='') 
              | 分
              p.news_post_setting_box_date_note ※過去の時間になっています。この状態で新規投稿した場合は即時投稿されます。
            .news_post_setting_box_status
              p.news_post_setting_box_status_title.title 現在の公開ステータス
              p.news_post_setting_box_status_content 下書き　投稿済み　投稿済み(会員のみ)
            .news_post_setting_box_release
              p.news_post_setting_box_release_title.title このニュースを非表示にする
              a.news_post_setting_box_release_link(href='#')
                .container
                  | 非表示に設定する
            .news_post_setting_box_area
              p.news_post_setting_box_area_title.title ニュースの公開設定
              label.news_post_setting_box_area_default 一般公開(デフォルト)
              label.news_post_setting_box_area_member
                input(type='checkbox', name='', value='')
                | 会員エリアのみの公開
            .news_post_setting_box_pleview
              p.news_post_setting_box_pleview_title.title 現在の入力内容を確認する
              a.news_post_setting_box_pleview_link(href='#')
                .container
                  |プレビュー
            .news_post_setting_box_desc
              p.news_post_setting_box_desc_title.title ニュースの投稿
              p.news_post_setting_box_desc_text 
              | 内容を確認の上、スクロールでページ最下部の投稿ボタンを押してください。
    .section_wrapper
      .contents
        section.news_images
          h2.news-page_headding 画像を選択
          .news_profile_box
            .news_profile_box_retrieval
              p.news_profile_box_retrieval_title プロフィールから画像選択
              label.news_profile_box_retrieval_text キャスト名：
              input.news_profile_box_retrieval_input(type='text', name='', value='')
              a.news_profile_box_retrieval_link(href='#') 検索
              p.news_profile_box_retrieval_desc ※表示は3件まで。見つからない場合は入力内容を変えて再検索してください。
            .news_profile_box_table
              p.news_profile_box_table_title 名前をクリックすると画像を表示(検索結果：3件まで)
              table.news_profile_box_table_contents
                for item, index in resources.profile
                  tr
                    th= index+1
                    td.table_box_title
                      a(href="#") #{item.title}
          .news_images_box
            p.news_images_box_title 多岐川ゆり子
              span.news_images_box_title_sub の写真一覧
            .news_images_box_contents
              for item in resources.profileImage
                .news_images_box_contents_item
                  img.news_images_box_contents_item-image(src=item.link)
                  a.news_images_box_contents_item-btn(href="#") 選択する
              a.news_images_box_contents_resetbtn(href="#") 選択リセット
          .news_add_box
            p.news_add_box_title 新規画像追加
              span.news_add_box_title_sub (※上記のプロフィール画像が添付されている場合は表示されません。)
            .news_add_box_contents
              .news_add_box_contents_image
                img.news_add_box_contents_image_item(src="../images/pc.png")
                .news_add_box_contents_image_btns
                  a.news_add_box_contents_image_btns_btn(href="#") 画像ファイルの選択
                  a.news_add_box_contents_image_btns_resetbtn(href="#") 画像リセット
              .news_add_box_contents_link
                .news_add_box_contents_link_image
                  label.news_add_box_contents_link_image-link 画像リンク先：
                  input.news_add_box_contents_link_image-text(type='text', name='', value='')
                .news_add_box_contents_link_text
                  label.news_add_box_contents_link_text-link テキスト：
                  input.news_add_box_contents_link_text-text(type='text', name='', value='')
                
        section.news_description
          h2.news-page_headding 説明 
          .news_description_box
            p.news_description_box_text
              | プロフィールから画像を選択すると色付き部分が自動的に入ります。ニュース本文内に画像の挿入、または画像を使わない場合は、この項目を無視して投稿を行ってください。
            .news_description_box_images
              img.news_description_box_images-pc(src='../images/pc.png', alt='') 
              img.news_description_box_images-sp(src='../images/sp.png', alt='') 
            .news_description_box_code
              p.news_description_box_code_main
                | テキスト部分には次のHTMLタグが使えます。　＜a＞テキストをリンクにする場合
              p.news_description_box_code_sub
                | 例：＜a href='リンク先'＞超巨乳麗華さんのプロフィール＜/a＞
    .btn-wrapper
      ul.btn-list
        li.btn-item
          +tool_btn(href="#").news
            +tool_btn-title
              | テンプレート保存
        li.btn-item
          +tool_btn(href="#").news
            +tool_btn-title
              | プレビューを見る
        li.btn-item
          +tool_btn(href="#").news
            +tool_btn-title
              | ニュースを投稿する。
            +tool_btn-count
              | 予約時間が設定されている場合は、その時間に公開されます。
