extends _layout

include _tool_btn

block vars
  - var title = "OPERATIONLOG";
  
block main
  form 
    .section_wrapper
      .contents
        .operation_log
          .date_area
            p.date_title.box 日付範囲
            .start_date.box 
              a(href="#") 📅
            p.middle.box ~
            .end_date.box
              a(href="#") 📅
          .log_contents
            .users
              ul.user
                li.user_title ユーザー
                for item in resources.userlist
                  li.user_item
                    .input_area
                      input(type="checkbox" name)
                    p.text #{item.name}
              ul.page_operation
                li.operation_title 間違いやすいページ操作
                for item in resources.pageoperationlist
                  li.operation_item
                    .input_area
                      input(type="checkbox" name="")
                    p.text #{item.name}
            .log_area
              ul.log
                li.log_th
                  p.time 編集日時
                  p.operation 操作
                  p.staf 編集者
                  p.terminal アクセス端末
                  p.store 編集店舗
                for item in resources.loglist
                  li.log_td
                    p.time #{item.time}
                    p.operation #{item.operation}
                    p.staf #{item.staf}
                    p.terminal #{item.terminal}
                    p.store #{item.store}
              a(href="#").download 操作ログデータをダウンロード
