extends _layout

include _tool_btn

block vars
  - var title = "PROFILE";
  
block main
  form 
    .section_wrapper
      .contents
        .profile
          h2.shift_approval_headding プロフィール編集・宣材写真
          .setting_are
            .cast_serch_area
              p.direct_shift_serach 在籍キャストから選択・キャスト名を検索
              .serch_box
                p.text キャスト名：
                input(type="text" name="")
                button(type="submit") 検索
              .search_results
                p.results_text 検索ワード"ゆり"に該当するプロフィールが3件見つかりました。
                ul.results_list
                  for item in resources.serchresultslist
                    li.resultts_item(class=item.class) #{item.text}
    .section_wrapper
      .contents
        .profile_work
          .top_area
            p.title 2018年●月●日(月)の出勤キャスト
            .btn_box
              a(href="#").left
                p.button_text 出勤キャストから探す
              a(href="new-cast-profile-page.html").right
                p.button_text 新人キャストから探す
                  span (入店30日以内)
          .profile_box
            .day_box
              p.text ◾️　明日以降の出勤から選ぶ
              ul.days_list
                li.day 2018年●月●日(火)
                li.day 2018年●月●日(水)
                li.day 2018年●月●日(木)
                li.day 2018年●月●日(金)
                li.day 2018年●月●日(土)
            ul.profile_img_list
              for item in resources.castimg
                li.profile_img_item
                  p.name #{item.name}
                  img(src=item.img)
                  a(href="#").link プロフィール編集
                  p.days #{item.days}
