extends _layout

include _tool_btn

block vars
  - var title = "TOPPAGEPICKUP";
  
block main
  form 
    .section_wrapper
      .contents
        .top_pickup
          h2.pickup_links_title プロフィール編集・宣材写真
            a(href="pickup-page.html") << ひとつ前に戻る
          .setting_are
            .cast_serch_area
              p.pickup_sub_text この項目はトップページの目立つエリアに掲載するキャストをピックアップする項目です。キャストプロフィールに登録されているイベント画像より選択する形になります。
              p.direct_shift_serach 在籍キャストから選択・キャスト名を検索
              .serch_box
                p.text キャスト名：
                input(type="text" name="")
                button(type="submit") 検索
              .search_results
                p.results_text 検索ワード"ゆり"に該当するプロフィールが3件見つかりました。
                ul.results_list
                  for item in resources.serchresultslist
                    li.resultts_item(class=item.class) #{item.text}
    .section_wrapper
      .contents
        .top_pickup_list
          p.main_text キャストに登録されているイベント画像が表示されます。
          ul.img_list
            li.img_item
              img(src="images/free.jpeg")
            li.img_item
              img(src="images/free.jpeg")
            li.img_item
              img(src="images/free.jpeg")
            li.img_item
              img(src="images/free.jpeg")
            li.img_item
              img(src="images/free.jpeg")
          p.pk_view_time_text ピックアップ表示期間
          ul.pk_view_time_list
            for item in resources.viewtimelist
              li.pi_view_time_item
                label
                  input(type="checkbox" name="")
                  | #{item.text}
          .view_time_area
            .textbox_area
              p.year 2018
              input(type="text" name="") 
              | 月
              input(type="text" name="")
              | 日
              input(type="text" name="")
              | 時
              p.middle 〜
              input(type="text" name="")
              | 月
              input(type="text" name="")
              | 日
              input(type="text" name="")
              | 時
              p.end まで
            button(type="submit") ピックアップの設定
    .section_wrapper
      .contents
        .top_cast_pickup
          .title
            p.title_text 現在トップページに表示されているピックアップキャスト
            p.title_time 現在時刻：2018-08-08 20:23
          .top_cast_pickup_view
            ul.cast_pickup_list
              li.cast_pickup_item_th
                p.main メイン
                p.number 順番入れ替え
                p.event キャストイベント写真
                p.img_operation 写真の操作
              for item in resources.castpickuplist
                li.cast_pickup_item(class=item.class)
                  label.main
                    input(type="checkbox" name="")
                  p.number #{item.number}
                  .event
                    img(src="images/free.jpeg")
                    .text_area
                      p.name #{item.name}
                      p.work_time #{item.work}
                      p.view_time #{item.time}
                  .img_ope
                    .hp
                      label
                        input(type="checkbox" name="")
                      p.text HPに反映(一般公開)
                    .member_area
                      label
                        input(type="checkbox" name="")
                      p.text 会員エリアのみ公開
                    .links
                      a(href="") >> 非表示
                      a(href="") >> 削除
