.cast_retrieval {
  width: 100%;
  .cast_retrieval_work {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .top_area {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      .title {
        font-size: 25px;
      }
      a {
        .button_text {
          width: 550px;
          height: 50px;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: #EAEAEA;
        }
      }
    }
    .cast_retrieval_box {
      width: 100%;
      border: 1px solid $brack;
      box-sizing: border-box;
      padding: 50px 0;
      .text {
        margin-left: 5%;
        margin-bottom: 30px;
      }
      .cast_retrieval_list {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        .cast_retrieval_item {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 20%;
          margin-right: 6%;
          border: 1px solid $brack;
          box-sizing: border-box;
          padding: 20px 10px;
          img {
            width: 80%;
            margin: 20px auto;
            height: 200px;
          }
          .link {
            width: 80%;
            height: 30px;
            margin: 0 auto;
            text-align: center;
            line-height: 30px;
            background-color: $orange;
            margin-bottom: 20px;
          }
          &:nth-child(4),
          &:nth-child(8),
          &:nth-child(12),
          &:nth-child(16),
          &:nth-child(20),
          &:nth-child(24),
          &:nth-child(28),
          &:nth-child(32) {
            margin-right: 0;
          }
          &:nth-child(n + 4) {
            margin-bottom: 50px;
          }
          .more {
            display: block;
            width: 100%;
            height: 30px;
            line-height: 30px;
            background-color: #EAEAEA;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
