.cast_database {
  width: 100%;
  .setting_title {
    margin-bottom: 20px;
  }
  .setting_are {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    .cast_serch_area {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .direct_shift_serach {
        margin-bottom: 15px;
      }
      .serch_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 40px;
        .text {
          margin-right: 15px;
        }
        input {
          border: 1px solid $brack;
          width: 350px;
          height: 40px;
        }
        button {
          border: 1px solid $brack;
          border-left: none;
          width: 110px;
          height: 44px;
          background-color: $orange;
          font-size: 16px;
        }
      }
      .search_results {
        text-align: center;
        .results_text {
          margin-bottom: 10px;
        }
        .results_btn {
          text-align: left;
          display: block;
          width: 80%;
          height: 50px;
          line-height: 50px;
          box-sizing: border-box;
          padding-left: 30px;
          margin: 0 auto;
          background-color: #EAEAEA;
        }
      }
    }
  }
}

.cast_work {
  width: 100%;
  .cast_database_box {
    width: 100%;
    border: 1px solid $brack;
    box-sizing: border-box;
    padding: 50px 0;
    .text {
      margin-bottom: 20px;
    }
    .days_list {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 50px;
      .day {
        width: 20%;
      }
    }
    .cast_database_list {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
      .cast_database_item {
        width: 20%;
        text-align: center;
        margin-right: 6%;
        border: 1px solid $brack;
        box-sizing: border-box;
        padding: 20px 10px;
        img {
          width: 80%;
          margin: 20px auto;
          height: 200px;
        }
        &:nth-child(4),
        &:nth-child(8),
        &:nth-child(12),
        &:nth-child(16),
        &:nth-child(20),
        &:nth-child(24),
        &:nth-child(28),
        &:nth-child(32) {
          margin-right: 0;
        }
        &:nth-child(n + 4) {
          margin-bottom: 50px;
        }
        .more {
          display: block;
          width: 100%;
          height: 30px;
          line-height: 30px;
          background-color: #EAEAEA;
          margin-top: 20px;
        }
      }
    }
    .pagenav {
      width: 60%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      .text {
        margin-right: 20px;
        line-height: 20px;
        span {
          display: block;
        }
      }
      .navlist {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;
        line-height: 50px;
        .navitem {
          &:not(:last-child) {
            border-right: 1px solid $brack;
          }
          p {
            width: 80px;
            background-color: #F0A53E;
            text-align: center;
          }
        }
      }
    }
  }
}
