.cast_serch_area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .direct_shift_serach {
    margin-bottom: 15px;
  }
  .serch_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    .text {
      margin-right: 15px;
    }
    input {
      border: 1px solid $brack;
      width: 350px;
      height: 40px;
    }
    button {
      border: 1px solid $brack;
      border-left: none;
      width: 110px;
      height: 44px;
      background-color: $orange;
      font-size: 16px;
    }
  }
  .search_results {
    width: 85%;
    margin: 0 auto;
    .results_text {
      margin-bottom: 10px;
    }
    .results_list {
      width: 95%;
      margin: 0 auto;
      margin-bottom: 15px;
      .resultts_item {
        width: 100%;
        font-size: 16px;
        line-height: 30px;
        &.gray {
          background-color: $gray;
        }
      }
    }
  }
}

.cast_shift_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &_title {
    font-size: 18px;
    margin-left: 50px;
    margin-bottom: 15px;
    span {
      font-size: 12px;
      margin-left: 10px;
    }
  }
  &_list {
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    .cast_shift_box_item {
      width: 80%;
      box-sizing: border-box;
      padding: 30px 0;
      &:not(:last-child) {
        border-bottom: 1px solid $brack;
      }
      .top_area {
        margin-bottom: 30px;
        .days {
          font-size: 18px;
          font-weight: bold;
          line-height: 50px;
          padding: 0 20px 0 10px;
          background-color: #FDFFD3;
          display: inline-block;
        }
        input {
          border: 1px solid $brack;
          width: 80px;
          height: 50px;
          margin: 0 10px;
        }
        select {
          width: 150px;
          height: 50px;
          border: 1px solid $brack;
          margin-left: 10px;
          font-size: 20px;
        }
      }
      .bottom_area {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .left_contents {
          width: 65%;
          .desc_text {
            border: 1px solid $brack;
            border-bottom: none;
            line-height: 30px;
            display: inline-block;
            padding: 0 10px;
          }
          .form_box {
            border: 1px solid #000;
            box-sizing: border-box;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .time {
              margin-bottom: 5px;
              label {
                margin-right: 5px;
              }
              input {
                height: 30px;
                width: 80px;
                background-color: #D8D2D2;
                border: none;
                margin-right: 10px;
              }
            }
            .comment {
              margin-bottom: 5px;
              display: flex;
              flex-direction: row;
              align-items: center;
              select {
                width: 130px;
                height: 30px;
                font-size: 18px;
                background-color: #D8D2D2;
                border: none;
                margin-right: 20px;
              }
              input {
                height: 30px;
                width: 250px;
                overflow: scroll;
                background-color: #D8D2D2;
                border: none;
              }
              button {
                width: 80px;
                height: 32px;
                font-size: 18px;
                background-color: $orange;
              }
            }
            .support_text {
              align-self: flex-end;
              font-size: 12px;
              margin-bottom: 10px;
            }
            .text_box {
              .blue {
                font-size: 12px;
                color: #634FFC;
                line-height: 15px;
              }
              .gray {
                font-size: 12px;
                line-height: 15px;
                color: #7B7B7E;
              }
            }
          }
        }
        .check_area {
          width: 33%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          input {
            margin-right: 10px;
            margin-bottom: 10px;
          }
          button {
            width: 100%;
            height: 50px;
            background-color: #F891A9;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
          }
          .button_sub_text {
            font-size: 13px;
            line-height: 18px;
            color: $red;
          }
        }
      }
    }
  }
  a {
    display: inline-block;
    align-self: flex-end;
    margin-right: 20%;
    .link_text {
      padding: 15px;
      background-color: $orange;
    }
  }
}
