.mail_magagine_history {
  width: 100%;
  margin-bottom: 50px;
  .history_box {
    &_title {
      margin-bottom: 15px;
    }
    .history_table {
      width: 100%;
      height: 185px;
      display: flex;
      flex-flow: column wrap;
      li {
        width: 50%;
        height: 35px;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        display: flex;
        flex-direction: row;
        align-items: center;
        &:nth-child(-n + 5) {
          border-right: none;
        }
        &:nth-child(5) {
          border-bottom: 1px solid #000;
        }
        &:last-child {
          border-bottom: 1px solid #000;
        }
        .number {
          width: 10%;
          line-height: 35px;
          border-right: 1px solid #000;
          text-align: center;
          background-color: #D8D2D2;
        }
        .history_table_title {
          width: 40%;
          line-height: 35px;
          border-right: 1px solid #000;
          box-sizing: border-box;
          padding-left: 10px;
        }
        .history_table_time {
          font-size: 12px;
          width: 25%;
          line-height: 35px;
          text-align: center;
          border-right: 1px solid $brack;
          &.current {
            background-color: #D9D9D9;
          }
        }
        .history_table_number {
          font-size: 12px;
          width: 25%;
          line-height: 35px;
          border-right: none;
          text-align: center;
          &.current {
            background-color: #D9D9D9;
          }
        }
      }
    }
  }
}

.mail_magagine {
  width: 100%;
  .new_mailmagagine {
    &_title {
      display: flex;
      flex-direction: row;
      align-items: center;
      .title_btn {
        width: 380px;
        height: 50px;
        border: 1px solid $brack;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input {
          margin-right: 20px;
        }
        &.right_btn {
          border-left: none;
        }
      }
    }
    &_contents {
      border: 1px solid $brack;
      border-bottom: none;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 30px;
      .left_contents {
        width: 58%;
        .sender {
          margin-bottom: 20px;
          span {
            display: block;
            line-height: 32px;
          }
        }
        .subject {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 20px;
          input {
            border: 1px solid $brack;
            width: 100%;
            height: 50px;
            margin-top: 5px;
          }
        }
        .content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          margin-bottom: 20px;
          &_title {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            margin-bottom: 10px;
            .btn_box {
              display: flex;
              flex-direction: row;
              align-items: center;
              .btn {
                &_text {
                  margin-bottom: 5px;
                }
                .btn_inner_text {
                  width: 130px;
                  height: 50px;
                  background-color: #CECBCB;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                }
                &.left,
                &.center {
                  margin-right: 15px;
                }
              }
            }
          }
          textarea {
            width: 100%;
            height: 600px;
            border: 1px solid $brack;
            resize: none;
          }
        }
        .footer {
          textarea {
            width: 100%;
            height: 300px;
            border: 1px solid $brack;
            resize: none;
            margin-top: 5px;
          }
        }
      }
      .right_contents {
        width: 40%;
        textarea {
          width: 100%;
          height: 1170px;
          border: 1px solid $brack;
          resize: none;
          margin-top: 5px;
        }
      }
    }
  }
  .send_mailmagagine {
    border: 1px solid $brack;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
    padding: 0 30px 30px;
    &_title {
      margin-bottom: 10px;
    }
    .checkbox_list {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .checkbox_item {
        width: 300px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding-left: 10px;
        input {
          margin-right: 10px;
        }
        &:not(:last-child) {
          border: 1px solid $brack;
        }
        &:last-child {
          .item_text {
            width: 200px;
            height: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #CECBCB;
            margin: 5px 0;
          }
        }
      }
    }
  }
  .time_mailmagagine {
    border: 1px solid $brack;
    border-top: none;
    box-sizing: border-box;
    padding: 0 30px 30px;
    &_title {
      margin-bottom: 10px;
    }
    .checkbox_list {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 50px;
      .checkbox_item {
        border: 1px solid $brack;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding-left: 10px;
        input {
          margin-right: 10px;
        }
        &.left {
          width: 300px;
          margin-right: 15px;
        }
        &.right {
          width: 840px;
          .item_inner {
            input {
              width: 80px;
              &.short {
                width: 60px;
              }
            }
          }
        }
      }
    }
    button {
      display: block;
      width: 880px;
      height: 60px;
      line-height: 60px;
      background-color: $orange;
      font-size: 30px;
      text-align: center;
      margin: 0 auto;
    }
  }
}
