.operation_log {
  width: 100%;
  .date_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 80px;
    .box {
      height: 65px;
      line-height: 65px;
      text-align: center;
      border: 1px solid $brack;
      border-left: none;
      &.date_title {
        width: 150px;
        background-color: $table-td-bg;
        border-left: 1px solid $brack;
      }
      &.start_date,
      &.end_date {
        font-size: 20px;
        width: 200px;
      }
      &.middle {
        font-size: 30px;
        width: 120px;
        background-color: $table-td-bg;
      }
    }
  }
  .log_contents {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    .users {
      .user,
      .page_operation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .user_title,
        .operation_title {
          text-align: center;
          width: 200px;
          height: 65px;
          line-height: 65px;
          font-size: 17px;
          box-sizing: border-box;
          background-color: $table-td-bg;
          border: 1px solid $brack;
          border-bottom: none;
        }
        .user_item,
        .operation_item {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 200px;
          height: 65px;
          box-sizing: border-box;
          border: 1px solid $brack;
          &:not(:last-child) {
            border-bottom: none;
          }
          .input_area {
            height: 100%;
            width: 35px;
            border-right: 1px solid $brack;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          .text {
            box-sizing: border-box;
            padding-left: 15px;
            width: 165px;
          }
        }
      }
      .user {
        margin-bottom: 20px;
      }
    }
    .log_area {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .log {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
        .time,
        .operation,
        .staf,
        .terminal,
        .store {
          box-sizing: border-box;
          height: 50px;
          line-height: 50px;
          text-align: center;
          border: 1px solid $brack;
          font-size: 14px;
          border-bottom: none;
          border-right: none;
        }
        .time {
          width: 160px;
        }
        .operation {
          width: 300px;
        }
        .staf {
          width: 150px;
        }
        .terminal {
          width: 200px;
        }
        .store {
          width: 180px;
          border-right: 1px solid $brack;
        }
        .log_th {
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: $brack;
          .time,
          .operation,
          .staf,
          .terminal,
          .store {
            border: 1px solid $white;
            color: $white;
          }
        }
        .log_td {
          display: flex;
          flex-direction: row;
          align-items: center;
          &:last-child {
            border-bottom: 1px solid $brack;
          }
        }
      }
      .download {
        display: block;
        text-align: center;
        width: 385px;
        height: 65px;
        line-height: 65px;
        background-color: $orange-btn;
      }
    }
  }
}
