.top_pickup {
  width: 100%;
  .pickup_links_title {
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: $headding-bg;
    padding-left: 15px;
    color: $white;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
      display: block;
      text-align: center;
      margin-left: auto;
      width: 30%;
      height: 100%;
      background-color: $orange;
      color: $white;
    }
  }
  .pickup_sub_text {
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
  }
}
.top_pickup_list {
  width: 100%;
  border: 1px solid $brack;
  box-sizing: border-box;
  padding: 30px;
  .main_text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .img_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    .img_item {
      width: 19%;
      img {
        width: 100%;
        border: 1px solid $brack;
      }
    }
  }
  .pk_view_time_text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .pk_view_time_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  .view_time_area {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    .textbox_area {
      display: flex;
      flex-direction: row;
      align-items: center;
      .year {
        margin-right: 20px;
      }
      .middle {
        margin: 0 20px;
      }
      .end {
        margin-left: 20px;
      }
      input {
        box-sizing: border-box;
        border: 1px solid $brack;
        width: 80px;
        height: 30px;
        margin: 0 10px;
      }
    }
    button {
      width: 250px;
      height: 50px;
      background-color: $orange;
      text-align: center;
      line-height: 50px;
      font-size: 20px;
    }
  }
}

.top_cast_pickup {
  width: 100%;
  .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
    &_text {
      font-size: 18px;
      font-weight: bold;
    }
    &_time {
      box-sizing: border-box;
      padding: 20px;
      background-color: $gray;
    }
  }
  .top_cast_pickup_view {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $brack;
    padding: 30px 15px 50px;
    .cast_pickup_list {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .cast_pickup_item_th {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;
        line-height: 50px;
        background-color: $gray;
        text-align: center;
        border: 1px solid $brack;
        .main {
          width: 15%;
          height: 100%;
          border-right: 1px solid $brack;
        }
        .number {
          width: 20%;
          height: 100%;
          border-right: 1px solid $brack;
        }
        .event {
          width: 35%;
          height: 100%;
          border-right: 1px solid $brack;
        }
        .img_operation {
          width: 30%;
          height: 100%;
        }
      }
      .cast_pickup_item {
        width: 100%;
        height: 130px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid $brack;
        border-top: none;
        .main {
          width: 15%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-right: 1px solid $brack;
        }
        .number {
          width: 20%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 50px;
          border-right: 1px solid $brack;
        }
        .event {
          width: 35%;
          height: 100%;
          border-right: 1px solid $brack;
          display: flex;
          flex-direction: row;
          align-items: center;
          box-sizing: border-box;
          padding: 0 10px;
          img {
            width: 100px;
            margin-right: 30px;
          }
          .text_area {
            .name {
              margin-bottom: 10px;
            }
            .work_time {
              margin-bottom: 10px;
            }
          }
        }
        .img_ope {
          width: 30%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          box-sizing: border-box;
          justify-content: center;
          padding: 0 20px;
          .hp,
          .member_area {
            width: 100%;
            height: 30px;
            border: 1px solid $brack;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 15px;
            label {
              width: 10%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              border-right: 1px solid $brack;
            }
            .text {
              width: 90%;
              text-align: center;
            }
          }
          .hp {
            background-color: $red;
          }
          .links {
            align-self: flex-end;
            a {
              color: $orange-btn;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
