@import "config/_query";

@mixin  meida($a: false, $b: false, $c:false){
  $value: lg;
  @if($a == $value or $b == $value or $c == $value){
    @media only screen and (min-width: $min-breakpoint-lg) {
      @content;
    }
  }

  $value: md;
  @if($a == $value or $b == $value or $c == $value){
    @media only screen and (max-width: $max-breakpoint-md) and (min-width: $min-breakpoint-md) {
      @content;
    }
  }

  $value: sm;
  @if($a == $value or $b == $value or $c == $value){
    @media only screen and (max-width: $max-breakpoint-sm) {
      @content;
    }
  }
}
