.top_login_btn {
  display: block;
  width: 400px;
  height: 50px;
  margin: 0 auto;
  font-size: 20px;
  border: solid 1px $brack;
  background-color: $orange;

  text-align: center;
  line-height: 50px;

}


.shift_btn {
  display: inline-block;
  text-align: center;
  width: 44.7%;
  height: 25px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 25px;
  border: solid 1px $brack;
  vertical-align: bottom;
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: "";
    background: $orange;
    transform-origin: left top;
    transform: scale(0, 1);
    transition: .3s;
  }
}


.btn_contents_box_item {
  width: 48%;
  height: 100px;
  display: inline-block;
  border: solid 1px $brack;
  vertical-align: top;
  &:nth-child(1) {
    margin: 0 3.3% 0 0;
  }
  &:nth-child(3) {
    margin: 10% 3% 0 0;
  }
  &:nth-child(4) {
    margin: 10% 0 0 0;
  }
}
.btn-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  .btn-item {
    width: 30%;
    height: 100px;
    border: 1px solid #000;
    &:first-child {
      background-color: $pink;
    }
    &:nth-child(2) {
      background-color: $gray;
    }
    &:last-child {
      background-color: $orange-btn;
    }
  }
}
.tool_btn {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  position: relative;

  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  span {
    display: block;
    font-size: 14px;
    margin-top: 10px;
  }

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    transform-origin: left top;
    transform: scale(0, 1);
    transition: .3s;
  }
  &.blue:before {
    background: $blue;
  }
  &.pink:before {
    background: $pink;
  }
  &.green:before {
    background: $green;
  }
  &.orange:before {
    background: $orange-btn;
  }
  &.news {
    font-size: 20px;
  }
}


.posting_more,
.deliver_ad {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border-right: solid 1px $brack;
  border-left: solid 1px $brack;
  border-bottom: solid 1px $brack;

  a {
    display: block;
    font-size: 14px;
    width: 50%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    border-right: solid 1px $brack;
    border-left: solid 1px $brack;
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      content: "";
      transform-origin: left top;
      transform: scale(0, 1);
      transition: .3s;
      background: $gray;
    }
  }
}
